body {
  margin: 0;
  box-sizing: border-box;
}

a {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

a:hover {
  background-color: #b4cefd;
  border: none;
}

button {
  cursor: pointer;
}
